.header .search-cont{
	padding:10px 10px 10px 250px;
}
.header .logo{
	margin-left:20px;
	position:absolute;
	font-size:36px;
	display:block;
	color:#c60023;
	padding-top:6px;
	font-weight:bold;
}
.header .search-cont .search-input{
	height:38px;
	width:500px;
	border:2px solid #c60023;
	outline:none;
	padding-left:10px;
	font-size:20px;

}
.header .search-cont .search-btn{
	background:#c60023;
	height:42px;
	width:100px;
	position:absolute;
	outline: none;
	border:none;
	top:10px;
	color:#fff;
	cursor:pointer;
	font-weight:bold;
	font-size:20px;
}
