<script src="https://cdn.bootcss.com/jquery/1.7.2/jquery.min.js"></script>
<div class="footer link">
	<div class="w">
		<div class="links">
			<a href="https://www.baidu.com" target="_blank" class="link">百度</a>|
			<a href="https://www.imooc.com" target="_blank" class="link">慕课网 </a>|
			<a href="https://www.zhihu.com" target="_blank" class="link">知乎 </a>|
			<a href="https://www.taobao.com" target="_blank" class="link">淘宝 </a>
		</div>
		<div class="copyright">CopyRight ©2018 HappyMMall ,All Right Reserved</div>
	</div>
</div>　
